# --- Environment Variables for the Server ---

# The port the server will run on. 5001 is a good default.
PORT=5001

# The connection string for the MongoDB Atlas database.
# This MUST be obtained from the team leader.
MONGO_URI=

# A secret key for creating JSON Web Tokens (JWT) for user authentication.
# Any long, random string will work for development.
JWT_SECRET=a_random_secret_string_for_jwt